<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562416492819-c68h40ms11818e8qkht1pg10qjocscbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562416492819-c68h40ms11818e8qkht1pg10qjocscbk</string>
	<key>API_KEY</key>
	<string>AIzaSyBpybxy_tgM955oerQxuj1DaRfRZLEXf80</string>
	<key>GCM_SENDER_ID</key>
	<string>562416492819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sonub.korean-flutter-community</string>
	<key>PROJECT_ID</key>
	<string>korean-flutter-community</string>
	<key>STORAGE_BUCKET</key>
	<string>korean-flutter-community.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562416492819:ios:8be516f13a42a2bf31bae6</string>
	<key>DATABASE_URL</key>
	<string>https://korean-flutter-community.firebaseio.com</string>
</dict>
</plist>