<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767572519351-1jp52f51d30bb467af37rmnn45k6rtb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767572519351-1jp52f51d30bb467af37rmnn45k6rtb8</string>
	<key>API_KEY</key>
	<string>AIzaSyB97oFI4BDM08OFxjIGk8UCuN0ZEAe88l0</string>
	<key>GCM_SENDER_ID</key>
	<string>767572519351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterstudy.clientf</string>
	<key>PROJECT_ID</key>
	<string>enginf-856e7</string>
	<key>STORAGE_BUCKET</key>
	<string>enginf-856e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767572519351:ios:9b7b0264b2a88628132032</string>
	<key>DATABASE_URL</key>
	<string>https://enginf-856e7.firebaseio.com</string>
</dict>
</plist>